<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css">
    <link href="{{ static('style.css') }}" rel="stylesheet" type="text/css">
    <title>Colorin App</title>
</head>

<body>
<div class="marg">
    <header>
        <a href="{{ url('index:index') }}"><img src="{{ static('logo1.png') }}" alt="Logo" width="350px"/></a>
        <nav>
            {% with ns = request.resolver_match.namespace %}
            <a class="nes-btn {% if ns == 'index' %}is-warning{% endif %}" href="{{ url('index:index') }}">Main</a>
            {% if not user.is_authenticated %}
            <a class="nes-btn {% if ns == 'authorization' %}is-warning{% endif %}" href="{{ url('login') }}">Login</a>
            <a class="nes-btn {% if ns == 'authorization' %}is-warning{% endif %}" href="{{ url('signup') }}">Sign Up</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="nes-btn {% if ns == 'colorin' %}is-warning{% endif %}" href="{{ url('colorin:index') }}">Personal</a>
            <a class="nes-btn {% if ns == 'colorin' %}is-warning{% endif %}" href="{{ url('colorin:colorin-all') }}">All Uploaded</a>
            <a class="nes-btn {% if ns == 'authorization' %}is-warning{% endif %}" href="{{ url('password_change') }}">Password Change</a>
            <a class="nes-btn {% if ns == 'authorization' %}is-warning{% endif %}" href="{{ url('logout') }}">Logout</a>
            {% endif %}
            {% endwith %}
        </nav>
    </header>
</div>
<main>
    <h1>Colorin App</h1>

    {% block main %}{% endblock %}
</main>

<footer>
    <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>~ (c) Colorin Application 2020 </p>
    <p><a href="mailto:sushei.ekaterina@gmail.com">E-mail for feedbacks</a></p>
</footer>
</body>
</html>