{% extends "base.html" %}
{% block main %}

<style>
   body { background-color: rgb({{ inst_theme_color }}); }
</style>

<h2>My Personal Cabinet</h2>

<a class="nes-btn" href="{{ url('colorin:update') }}">Update from Instagram</a>

<a href="{{ inst_profile_pic.url }}"><img src="{{ inst_profile_pic.url }}" height="300px"></a>

<p>IG Name: <b>{{ user.username }}</b></p>
{% if inst_biography %}
<p>Bio: {{ inst_biography | safe }}</p>
{% endif %}
{% if inst_full_name %}
<p>Full Name: {{ inst_full_name | safe }}</p>
{% endif %}
<br/><br/>

{% if not instagram_photo_list %}
<p>Oh, there are not images from Instagram. Add something in your IG profile and update info by button at the top.</p>
{% else %}
<p>My IG photo:</p>
{% for item in instagram_photo_list %}
            <a href="{{ item.photo.url }}"><img src="{{ item.photo.url }}" height="200px"></a>
{% endfor %}
{% endif %}

<a class="nes-btn is-warning" href="{{ url('colorin:file_field') }}">Add your shots</a><br/>
<a class="nes-btn" href="{{ url('colorin:colorin-all') }}">See all uploaded</a>

<br/><br/><br/>
<h2>My last match:</h2>
<br/><br/>

{% if not uploaded_photo_match_list %}
<p>Sorry, but you don't any suitable shots for your IG Profile. Let's upload a little more and press MATCH button!</p>
{% else %}
<p>Here see only suitable for your Inst images</p>
{% for item in uploaded_photo_match_list %}
            <a href="{{ item.photo.url }}"><img src="{{ item.photo.url }}" height="200px"></a>
{% endfor %}
<a class="nes-btn is-warning" href="{{ url('colorin:download') }}">Download last match in ZIP!</a>
{% endif %}
<br/><br/>
<a class="nes-btn is-warning" href="{{ url('colorin:match') }}">~ MATCH! ~</a><br/><br/>
<p>Press this after adding to the app or update from IG.</p>


<br/><br/><br/>
<h2>My emoji:</h2>
<br/>
{% if not emoji_match_list %}
<p>Oh, now you don't any suitable emoji for posting :(</p>
<p><a href="{{ url('colorin:match-emoji') }}">Match</a>> them first!</p>
{% else %}
{% for emoji_name in emoji_match_list %}
    <a href="https://vk.com/images/emoji/{{ emoji_name }}.png"><img src="https://vk.com/images/emoji/{{ emoji_name }}.png" height="40px"></a>

{% endfor %}
<p>Need update? <a href="{{ url('colorin:match-emoji') }}">Press here</a> if smth changed on your IG.</p>
{% endif %}
{% endblock %}